html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	font-family: 'Segoe UI', 'Ubuntu', sans-serif;
}

.column {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
}

form {
	background: #FFFFFF;
	display: flex;
	padding: 6px;
	box-sizing: border-box;
}

form input {
	width: 100%;
	background: #FFFFFF;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 6px;
}

form button {
	background: transparent;
	border: none;
	font-weight: 200;
	text-transform: uppercase;
}

#debug {
	margin: 0;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#messages {
	width: 100%;
	height: 100%;
	background: #eeeeee;
	overflow: auto;
}

.message {
	min-width: 400px;
	max-width: 600px;
	background-color: #FFFFFF;
	border-radius: 5px;
	display: block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	float: left;
	margin: 5px 45px 5px 20px;
	clear: both;
}

.message::before {
	background-color: #FFFFFF;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform: rotate(29deg) skew(-35deg);
	width: 20px;
	left: -9px;
}

.message.self {
	float: right;
	margin: 5px 20px 5px 45px;
}

.message.self::before {
	right: -9px;
	left: auto;
}

.message .username {
	font-weight: 200;
	opacity: 0.6;
	margin-bottom: 3px;
}

.message .content {
	max-width: 100%;
	font-weight: 300;
	overflow: hidden;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.message .content.unknown {
	text-align: center;
	opacity: 0.4;
	font-weight: 200;
}