html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	font-family: 'Segoe UI', 'Ubuntu', sans-serif;
}

.column {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.column.small {
	max-width: 300px;
}

form {
	background: #FFFFFF;
	display: flex;
	padding: 6px;
	box-sizing: border-box;
}

form input {
	width: 100%;
	background: #FFFFFF;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 6px;
}

form button {
	background: transparent;
	border: none;
	font-weight: 200;
	text-transform: uppercase;
}

#messages {
	width: 100%;
	height: 100%;
	background: #eeeeee;
	overflow: auto;
}

.message {
	min-width: 100px;
	max-width: calc(100% - 65px);
	background-color: #FFFFFF;
	border-radius: 5px;
	display: block;
	position: relative;
	vertical-align: top;
	float: left;
	margin: 5px 45px 5px 20px;
	clear: both;
	overflow: hidden;
}

.message.self {
	float: right;
	margin: 5px 20px 5px 45px;
}

.message.service {
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 500px;
	font-weight: 200;
	left: 50%;
	transform: translateX(-50%);
	float: inherit;
}

.message .username {
	padding: 10px 18px 8px;
	font-weight: 200;
	opacity: 0.6;
}

.message .content {
	padding: 0 18px 10px;
	max-width: 100%;
	font-weight: 300;
	overflow: hidden;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.message :first-child.content {
	padding-top: 10px;
}

.message .content a {
	color: #212121;
	opacity: 0.8;
	text-decoration: none;
}

.message .content a:hover {
	text-decoration: underline;
}

.message img.content,
.message iframe.content {
	padding: 0;
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
}

.message iframe.content {
	height: 338px;
}

.message .content.unknown {
	text-align: center;
	opacity: 0.4;
	font-weight: 200;
}

.message.me .username,
.message.me .content {
	display: inline;
	padding: 0;
}

.message.me .username::after {
	content: ' ';
	display: inline;
}

.message.me {
	padding: 10px;
}

.users {
	height: 100%;
	background: #f7f7f7;
}

.users .user {
	width: 100%;
	height: 48px;
	cursor: pointer;
	position: relative;
}

.users .user .name::before {
	width: 16px;
	content: '';
	display: inline-block;
	color: #0000ff;
	margin-right: 16px;
	text-align: center;
}

.users .user.self .name::before {
	content: '\2605';
}

.users .user .name {
	height: 48px;
	padding: 0 16px;
	line-height: 48px;
	opacity: 0.6;
}

.users .user .tooltip {
	min-width: 400px;
	max-width: 600px;
	min-height: 48px;
	max-height: 500px;
	display: none;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 100;
	overflow-wrap: break-word;
	padding: 16px;
	box-sizing: border-box;
}

.users .user:hover {
	background: rgba(0, 0, 0, 0.06);
}

.users .user:hover .tooltip {
	display: block;
}

@media (max-width: 700px) {
	.column.small {
		display: none;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}