html, body {
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	display: flex;
	font-family: 'Segoe UI', 'Ubuntu Light', sans-serif;
}

.column {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
}

#debug{
	margin: 0;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}